.container
  .notification
    .emoji 🚀
    %div
      %p.weight-strong This is your demo app.
      %p.small Each branch gets its own database. Check it out and then head back to Runnable.
  %h1.h1 Editing Todo
  %ul.todo-list
    =render 'form', todo: @todo
