.container.todo-list
  - if @todos.empty?
    %p There are no todos!
  - else
    - @todos.each do |todo|
      %article.media
        .media-content
          .content
            %p= todo.content
        .media-right
          %a= link_to 'Delete', todo, method: :delete, class: 'button is-danger'
  =render 'form', todo: @todo
  %p#notice= notice
