.container
  .notification
    .emoji 🚀
    %div
      %p.weight-strong This is your demo app.
      %p.small Each branch gets its own database. Check it out and then head back to Runnable.
  %h1.h1 Todo List
  %ul.todo-list
    - @todos.each do |todo|
      %li.todo-list-item
        %a= link_to '', todo, method: :delete, class: 'button-complete'
        %p= todo.content
    =render 'form', todo: @todo
